@import url(script.js);

:root{
    --grid: 16;
}

.squareStyle{
    background-color: #cdcdcd;
    height: calc(100vh / var(--grid) );
    width: calc(100vw / var(--grid));
    margin: .1vh;
}

.flex{
    display: flex;
}

.draw{
    background-color: black;
}

.ns{
    height: 30px;
    width: 200px;
    border: none;
    background-color: coral;
    display: block;
    margin: auto;
}