.squareStyle{
    background-color: #cdcdcd;
    height: calc(100vh / 16);
    width: calc(100vw / 16);
    margin: .1vh;
}

.flex{
    display: flex;
}

.draw{
    background-color: black;
}

.ns{
    height: 30px;
    width: 200px;
    border: none;
    background-color: coral;
    display: block;
    margin: auto;
}